# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore build folders
/build/
/cmake-build-debug/
/.vscode/
/.cache
/build
/build
/.cache
/build
/cmake-build-debug-mingw/
/cmake-build-debug-mingw
.cache/clangd/index/Lexer.cpp.8CBF652453571023.idx
.cache/clangd/index/main.cpp.CACFB8616FF5E103.idx
.cache/clangd/index/Token.cpp.3F914C81C784158F.idx
35gra.tsv
35lex.tsv
